* {
    font-family: "SUSE", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

mat-toolbar {
    height: 80px;
    background-color: #261C2C;
    color: aliceblue;
}

mat-toolbar span {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px 20px;
}

.container {
    padding: 40px 60px;
}

table {
    width: 80%;
}

td, th {
    width: 15%;
}

.filter-table {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

mat-form-field {
    width: 50%;
}

.filter-label {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: #af92be 1px 1px 1px;
}

.button-table {
    text-align: center;
}

mat-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}