html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: "SUSE", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
}
